.app {
  display: flex;
  align-items: center;
  justify-content: center;
}

.scene {
  position: relative;
  max-width: calc(100vh / 16 * 9 );
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.character-container {
  position: absolute;
  bottom: 0;
  height: 80vh;
  width: 100%;
}

.character {
  position: absolute;
  bottom: 0;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.character__left {
  left: 0;
}

.character__right {
  right: 0;
}

.character--sprite {
  height: 100%;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  display: flex;
  align-items: end;
  justify-content: center;
}

.background-sprite {
  object-fit: cover;
  height: 100vh;
}

.dialog-container {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 50%;
  padding: 0 16px;
  width: calc(100% - 16px * 2);
}

.dialog {
  background-color: #00000099;
  color: #CCCCCC;
  border-radius: 2px;
  border: 2px solid #8B9499;
  backdrop-filter: blur(4px);
}

.dialog-name {
  padding: 12px 36px;
  font-size: var(--font-size-small);
  border-bottom: 2px solid #8B9499;
}

.dialog-text {
  padding: 32px 24px;
  font-size: var(--font-size-medium);
}