:root {
  font-family: Roboto, Helvetica, Arial, sans-serif;

  --font-size-small: 30px;
  --font-size-medium: 32px;

  --padding-small: 16px;
  --padding-medium: 24px;
  --padding-large: 32px;

  --color-bg-dialog-window: #00000099;
  --color-text-dialog-window: #CCCCCC;
  --color-border-dialog-window: #8B9499;

  --animation-duration: 300ms;
  --animation-fn: cubic-bezier(0, 0, 0.6, 1);;

  --viewport-available-height: 100vh;
}

body {
  all: unset;
  display: block;
  width: 100vw;
  height: var(--viewport-available-height);
  background: #000;
  overflow: hidden;
}


@media (max-width: 500px) {
  :root {
    --font-size-small: 20px;
    --font-size-medium: 24px;

    --padding-small: 12px;
    --padding-medium: 18px;
    --padding-large: 24px;
  }
}