:root {
  font-family: Roboto, Helvetica, Arial, sans-serif;

  --font-size-small: 30px;
  --font-size-medium: 32px;

  --color-bg-dialog-window: #00000099;
  --color-text-dialog-window: #CCCCCC;
  --color-border-dialog-window: #8B9499;
}

body {
  all: unset;
  display: block;
  width: 100vw;
  height: 100vh;
  background: #000;
  overflow: hidden;
}


@media (max-width: 500px) {
  :root {
    --font-size-small: 24px;
    --font-size-medium: 28px;
  }
}