.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: var(--viewport-available-height);
    display: flex;
    align-items: end;
    justify-content: center;
}

.background-sprite {
    pointer-events: none;
    user-select: none;
    object-fit: cover;
    height: var(--viewport-available-height);
}

/* transitions */
.background, .background-enter-active {
    animation: fadeIn var(--animation-duration) var(--animation-fn) forwards;
}

.background-exit-active {
    animation: fadeOut var(--animation-duration) var(--animation-fn) forwards;
}
/* transitions end */