.chapter-end-screen {
  position: relative;
  max-width: calc(var(--viewport-available-height) / 16 * 9 );
  width: 100vw;
  height: var(--viewport-available-height);
  overflow: hidden;
}

.chapter-end-screen-text {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  font-size: var(--font-size-medium);
  color: var(--color-text-dialog-window);
}
