.character {
  position: absolute;
  bottom: 0;
  height: calc(0.9 * var(--viewport-available-height));
  display: flex;
  align-items: center;
  justify-content: center;
}

.character-left {
  left: 0;
  animation: slideInLeft var(--animation-duration) var(--animation-fn) forwards;
}

.character-right {
  right: 0;
  animation: slideInRight var(--animation-duration) var(--animation-fn) forwards;
}

.animation-exit .character-left {
  animation: slideOutLeft var(--animation-duration) var(--animation-fn) forwards;
}

.animation-exit .character-right {
  animation: slideOutRight var(--animation-duration) var(--animation-fn) forwards;
}

.character-sprite {
  pointer-events: none;
  user-select: none;
  height: 100%;
}
