.description-container {
    position: absolute;
    top: 40%;
    left: 0;
    padding: 0 16px;
    width: calc(100% - 16px * 2);

    -webkit-user-select: none; /* Safari */
    user-select: none; /* Standard syntax */
}

.description {
    background-color: var(--color-bg-dialog-window);
    color: var(--color-text-dialog-window);
    border-radius: 2px;
    border: 2px solid var(--color-border-dialog-window);
    backdrop-filter: blur(4px);
}

/* transitions */
.description, .description-enter-active {
    animation: slideInBottom var(--animation-duration) var(--animation-fn) forwards;
}

.description-exit-active {
    animation: slideOutBottom var(--animation-duration) var(--animation-fn) forwards;
}
/* transitions end */

.description-text {
    padding: var(--padding-large) var(--padding-medium);
    font-size: var(--font-size-medium);
}