.description-container {
    position: absolute;
    top: 40%;
    left: 0;
    padding: 0 16px;
    width: calc(100% - 16px * 2);
}

.description {
    background-color: var(--color-bg-dialog-window);
    color: var(--color-text-dialog-window);
    border-radius: 2px;
    border: 2px solid var(--color-border-dialog-window);
    backdrop-filter: blur(4px);
}

.description-text {
    padding: 32px 24px;
    font-size: var(--font-size-medium);
}