.dialog-container {
  position: absolute;
  top: 40%;
  left: 0;
  padding: 0 16px;
  width: calc(100% - 16px * 2);

  -webkit-user-select: none; /* Safari */
  user-select: none; /* Standard syntax */
}

.dialog {
  position: relative;
  background-color: var(--color-bg-dialog-window);
  color: var(--color-text-dialog-window);
  border-radius: 2px;
  border: 2px solid var(--color-border-dialog-window);
  backdrop-filter: blur(4px);
}

/* transitions */
.dialog, .dialog-enter-active {
  animation: slideInBottom var(--animation-duration) var(--animation-fn) forwards;
}

.dialog-exit-active {
  animation: slideOutBottom var(--animation-duration) var(--animation-fn) forwards;
}
/* transitions end */

.dialog-name {
  padding: var(--padding-small) var(--padding-large);
  font-size: var(--font-size-small);
  border-bottom: 2px solid var(--color-border-dialog-window);
}

.dialog-text {
  padding: var(--padding-small) var(--padding-medium) var(--padding-large);
  font-size: var(--font-size-medium);
}

.dialog-text-italic {
  font-style: italic;
}

.dialog-options {
  position: absolute;
  top: calc(100% - 16px);
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 16px;
  width: calc(100% - 16px * 2);
}

.option {
  all: unset;
  display: block;

  background-color: #282a2b;
  color: var(--color-text-dialog-window);
  border-radius: 2px;
  border: 2px solid var(--color-border-dialog-window);
  padding: 8px 12px;

  font-size: var(--font-size-small);
}

.option:active {
  scale: 0.98;
}