.info-container {
    position: absolute;
    top: 8px;
    left: 0;
    padding: 0 36px;
    width: calc(100% - 36px * 2);
    z-index: 1;

    -webkit-user-select: none; /* Safari */
    user-select: none; /* Standard syntax */
}


.info {
    background-color: var(--color-bg-dialog-window);
    color: var(--color-text-dialog-window);
    border-radius: 2px;
    border: 2px solid var(--color-border-dialog-window);
    backdrop-filter: blur(4px);
    animation: slideInBottom var(--animation-duration) var(--animation-fn) forwards;
}

.info-exit {
    animation: slideOutBottom var(--animation-duration) var(--animation-fn) forwards;
}

.info-text {
    padding: 32px 16px;
    font-size: var(--font-size-small);
    text-align: center;
}