.scene {
  position: relative;
  max-width: calc(var(--viewport-available-height) / 16 * 9 );
  width: 100vw;
  height: var(--viewport-available-height);
  overflow: hidden;
}

.character-container {
  position: absolute;
  bottom: 0;
  height: calc(0.8 * var(--viewport-available-height));
  width: 100%;
}
